@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  background-color: #6246AE;
  height: 812px;
  width: 375px;
  display: flex;
  flex-direction: column;
}

.main-box {
  background-color: #FFF;
  height: 275px; 
  width: 305px;
  border-radius: 25px;
  margin: 50px auto;
}

.text-main {
  margin-top: 4rem;
  margin-left: 1rem;
  font-size: 20px;
  font-family: "Roboto", "Sans-Serif"
}

.question {
  background-color: #FFF;
  margin-bottom: 36px;
  height: 55px;
  width: 299px;
  border-radius: 25px;
  margin-left: 36px;
}

.text-question {
  font-family: "Roboto", "Sans-Serif";
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 15px;
}

.right-question:active {
  background-color: #90ee90
}

  
.wrong-question:active {
  background-color: #ff6347
}

@media (max-width: 360px) {
    .main-box {
        background-color: #FFF;
        height: 250px; 
        width: 280px;
        border-radius: 25px;
        margin: 36px auto;
    }
      
    .text-main {
        margin-top: 4rem;
        margin-left: 1rem;
        font-size: 17px;
        font-family: "Roboto", "Sans-Serif"
    }

    .question {
        background-color: #FFF;
        margin-bottom: 36px;
        height: 45px;
        width: 290px;
        border-radius: 25px;
        margin-left: 36px;
      }
      
      .text-question {
        font-family: "Roboto", "Sans-Serif";
        margin-left: 2rem;
        margin-top: 1rem;
        font-size: 12px;
      }

    #long-question {
        margin-top: 0.5rem;
    }
}

@media (max-width: 411px) {

  @media (max-height: 823px) {
    .container {
      background-color: #6246AE;
      height: 900px;
      width: 425px;
      display: flex;
      flex-direction: column;
    }
  }

  .main-box {
    background-color: #FFF;
    height: 250px; 
    width: 280px;
    border-radius: 25px;
    margin: 36px auto;
}
  
.text-main {
    margin-top: 4rem;
    margin-left: 1rem;
    font-size: 17px;
    font-family: "Roboto", "Sans-Serif"
}

.question {
    background-color: #FFF;
    margin-bottom: 36px;
    height: 45px;
    width: 290px;
    border-radius: 25px;
    margin-left: 36px;
  }
  
  .text-question {
    font-family: "Roboto", "Sans-Serif";
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 12px;
  }

  #long-question {
    margin-top: 0.5rem;
  }
}

@media (max-width: 414px) {

  @media (max-height: 736px) {
    .container {
      background-color: #6246AE;
      height: 900px;
      width: 425px;
      display: flex;
      flex-direction: column;
    }
  }

  .main-box {
    background-color: #FFF;
    height: 250px; 
    width: 280px;
    border-radius: 25px;
    margin: 36px auto;
}
  
.text-main {
    margin-top: 4rem;
    margin-left: 1rem;
    font-size: 17px;
    font-family: "Roboto", "Sans-Serif"
}

.question {
    background-color: #FFF;
    margin-bottom: 36px;
    height: 45px;
    width: 290px;
    border-radius: 25px;
    margin-left: 36px;
  }
  
  .text-question {
    font-family: "Roboto", "Sans-Serif";
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 12px;
  }

#long-question {
    margin-top: 0.5rem;
}
}

